*{
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}
*::after,
*::before{
    /* pseudo-elements */
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

/* For the NAV section -------------------------- */

nav{
    padding:1rem 2rem;
    display: block;
    background-color: hsl(180, 72%, 56%);
    border-bottom: 15px solid hsl(180, 72%, 14%);
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
#home a.home,
#two a.two,
#three a.three{
    text-decoration: underline;
}

/* For the HEADER section -------------------------- */

header{
    padding:1rem 2rem;
    background-image: url(../img/mountain.jpg);
    background-size: cover;
    height: 500px;
}
header h1 {
    color: white;
    text-shadow: 2px 2px 2px hsla(0,0%, 0%, 0.5);
    font-size: 3.4rem;
}
header h2 {
    color: white;
    text-shadow: 2px 2px 2px hsla(0,0%, 0%, 0.5);
    font-size: 1.8rem;
}
/* For the MAIN section -------------------------- */

main{
    padding:1rem 2rem;
}
main h2{
    color: hsl(180, 72%, 50%);
}
#big{
    font-size: 3rem;
}
#small{
    font-size: 1.5rem;
}

/* For the others sections -------------------------- */

section{
    padding:1rem 2rem;
}
aside{
    padding:1rem 2rem;
}
footer{
    padding:1rem 2rem;
}